html, body{
    overflow-x: hidden;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #000;
    background-color: #fff;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5,h6, p{
    margin: 0;
}
.ft{
    color: #fff;
    font-family: Lexend Giga;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #fff;
}
.section{
    margin-top: 100px;
}
.container{
    max-width: 1400px;
}
.z2{
    padding-top: 30px;
}
/*header*/
.header{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.shapka{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-top: 10px;
    margin-left: 40px;
}

/*navigation*/
.nav {
    margin-top: 25px;
    margin-right: 40px;
    font-size: 16px;  
}
.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}
.login{
    border: 1px solid #fff;
    padding: 5px;
}
.login:hover{
    background-color: red;
    font-size: 16px;
}
.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: red;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}
.nav_link.active {
    color: red;
}
/*Intro*/
.intro{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("img/fon.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro_items {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    padding-top: 270px;
}
.intro_txt {
    font-family: Lexend Giga;
    margin-bottom: 20px;
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
}
.btxt{
    display: flex;
    justify-content: center;
    margin-top: 11px;
    font-size: 18px;
}
.buttons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button1{
    border-radius: 30px;
    width: 200px;
    height: 50px;   
    background-color: rgba(144, 144, 144, 0.32); 
}
.button1:hover {
    background-color: red;
}
.button2{
    margin-left: 30px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background-color: rgba(144, 144, 144, 0.32); 
}
.button2:hover {
    background-color: red;
    margin-left: 30px;
}
/*About*/
.biz{
    text-align: center;
}
.onas{
    font-family: Lexend Giga;
    font-size: 40px;
}
.txt_onas{
    font-family: Lexend Giga;
    margin-top: 30px;
    font-size: 20px;
}
.negeb{
    font-family: Lexend Giga;
    margin-top: 65px;
    font-size: 40px;
}
.card1,
.card2,
.card3,
.card4,
.card5{
    margin-top: 30px;
}
.card-img-top{
    display: flex;
    width: 100px;
    height: 100px;
}
.bmaman{
    margin-top: 65px;
    font-family: Lexend Giga;
    font-size: 40px;
}
.card-title{
    margin-top: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bzjana{
    margin-top: 65px;
    font-family: Lexend Giga;
    font-size: 40px;
}
.news{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.partners{
    margin-top: 65px;
    font-family: Lexend Giga;
    font-size: 40px;  
}
.owl-carousel{
    margin-top: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.footer-card_info{
    background-color: red;
    width: 50%;
    height: 735px;
    margin-top: 20px;
    border-radius: 30px;
    -webkit-box-shadow: 15px 17px 19px 3px rgba(221, 36, 36, 0.31);
    -moz-box-shadow: 15px 17px 19px 3px rgba(221, 36, 36, 0.31);
    box-shadow: 15px 17px 19px 3px rgba(221, 36, 36, 0.31);
}
.info{  
    color: #fff;
    font-family: Lexend Giga;
    font-size: 32px;
}
.info:after{
    display: flex;
    justify-content: center;
    content: "";
    background-color: #fff;
    width: 130px;
    height: 3px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.map{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.karta{
    border-radius: 10px;
}
.connect{
    display: block;
    margin-top: 30px;
}
.icon{
    margin-right: 30px;
    font-size: 22px;
}
.address{
    display: flex;
    justify-content: center;
}
.add{
    font-family: Lexend Giga;
    font-size: 19px;
}
.phone{
    display: flex;
    justify-content: center;    
}
.ph{
    font-family: Lexend Giga;
    font-size: 20px;
}
.mobile{
    display: flex;
    justify-content: center;    
}
.mb{
    font-family: Lexend Giga;
    font-size: 20px;
}
.mail{
    display: flex;
    justify-content: center;
}
.ml{
    font-family: Lexend Giga;
    font-size: 20px;
}

.connect:after{
    display: flex;
    justify-content: center;
    content: "";
    background-color: #fff;
    width: 130px;
    height: 3px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto; 
}
.last{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.bi-youtube, .bi-tiktok, .bi-facebook{
    margin-left: 60px;
}
.sicon{
    font-size: 30px;
}
.last{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
.ftxt:before{
    display: flex;
    justify-content: center;
    content: "";
    background-color: #fff;
    margin: 20px;
    height: 3px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}

.footer-card_form{
    background-color: red;
    width: 50%;
    height: 735px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 30px;
    -webkit-box-shadow: 15px 17px 19px 3px rgba(221, 36, 36, 0.31);
    -moz-box-shadow: 15px 17px 19px 3px rgba(221, 36, 36, 0.31);
    box-shadow: 15px 17px 19px 3px rgba(221, 36, 36, 0.31);
}
.psb{
    color: #fff;
    padding-bottom: 20px;
}
.psb:after{
    display: flex;
    justify-content: center;
    content: "";
    background-color: #fff;
    width: 130px;
    height: 3px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.form{
    margin-top: 30px;
    padding: 20px;
}
.sumbit, .prof, .number, .email, .name{
    border: none;
    border-radius: 10px;
}
.name{
    width: 100%;
    padding: 10px;
}
.phml{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.email{
    width: 48%;
    padding: 10px;
}
.number{
    margin-left: 10px;
    width: 50%;
    padding: 10px;
}
.prof{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
.sumbit{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    transform: uppercase;
    border: 1px solid #fff;
}
.sumbit:hover{
    background-color: red;
    color: #fff;
}

.que{
    font-family: Lexend Giga;
    color: #fff;
    padding-top: 60px;
}
.vop{
    font-family: Lexend Giga;
    color: #fff;
    padding-top: 20px;
}
.admins{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.admind{
    margin-left: 30px;
}
.a_tele{
    line-height: 1;
    font-size: 20px;
    font-family: monospace;
    color: #fff;
    width: 300px;
    text-decoration: none;
    padding: 20px 70px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-size: 200%;
    transition: .5s;
}
.a_tele:hover{
    border: 1px solid #fff;
    background-color: #fff;
    color: red;
}


@media (max-width: 768px) {
    main{
        width: 100%;
        max-width: 768px;
    }
}   